header, footer {
    background-color: lightgrey;
}
html{
    width: 400px;
    margin: auto;
}

menu{
    background-color:  darkgrey;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0.3em;
    margin: 0;
    
}
menu li{
    display: inline-block;
    width: 50px;
    text-align: center;
}
menu a{
    width: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    
}